<div class="glad-color-border">
    <div class="row">
        <div class="col-xs-10">
            Attack:
        </div>
    </div>
    <div class="row">
       <div class="col-xs-5">
          min: {{ attMin }}
       </div>
        <div class="col-xs-5">
            max: {{ attMax }}
        </div>
    </div>
</div>