<div class="glad-color-border">
    <div class="row">
        <div class="col-xs-12">
            Defence:
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            min: 0
        </div>
        <div class="col-xs-6">
            max: {{ max_def }}
        </div>
    </div>
</div>