        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="hidden-xs" href="#">{{ username }}</a>
            </li>
            <li>
                <a href="#">Gold : {{ gold }}</a>
            </li>
            <li>
                <a class="hidden-xs" href="#">Score : {{ score }}</a>
            </li>
        </ul>

