<div class="glad-color-border">
    <div class="row">
        <div class="col-xs-12">
            Level : {{ level }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            XP : {{ xp }}
        </div>
        <div class="col-xs-6">
            Nex level on : {{ xp_for_next_level }}xp
        </div>

    </div>
</div>